<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
       xmlns:sec="https://thymeleaf.org/thymelesf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Sales Manager</title>
</head>
<body>
<div align="center">
    <div sec:authorize="isAuthenticated()">
        Welcome <b></b><span sec:authentication="name">Username</span> </b>
        <span sec:authentication="principal.authorities">Roles</span>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"/>
        </form>
    </div>
     <h1>Sales Manager</h1>
     <h2>Products</h2>
     <a sec:authorize="hasAuthority('Admin')" href="new">Create New Product</a>
    <br/><br/>
     <table border ="1">
         <thead>
         <tr>
             <th>Product ID</th>
             <th>Name</th>
             <th>Brand</th>
             <th>Made In</th>
             <th>Price</th>
             <th>Quantity</th>
             <th sec:authorize="hasAuthority('Admin')">Actions</th>
         </tr>
         </thead>
           <tr th:each="products: ${listProducts}">
               <td th:text="${products.product_id}">Product ID</td>
               <td th:text="${products.product_name}">Name</td>
               <td th:text="${products.brand}">Brand</td>
               <td th:text="${products.made_in}">Made in</td>
               <td th:text="${products.price}">Price</td>
               <td th:text="${products.quantity}">Quantity</td>
               <td sec:authorize="hasAuthority('Admin')">
                  <a th:href="@{'/edit/'+${products.product_id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                   <a th:href="@{'/delete/'+${products.product_id}}">Delete</a>
               </td>
           </tr>
     </table>



    <h2>Clients</h2>
    <a sec:authorize="hasAuthority('SalesRepresentative')" href="new_customer">Add new Customer</a>
    <table border ="1">
        <thead>
        <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Town</th>
            <th sec:authorize="hasAuthority('SalesRepresentative')" >Actions</th>
        </tr>
        </thead>
        <tr th:each="customers: ${listCustomers}">
            <td th:text="${customers.customer_id}">Customer ID</td>
            <td th:text="${customers.first_name}">Name</td>
            <td th:text="${customers.last_name}">Surname</td>
            <td th:text="${customers.town}">Town</td>
            <td sec:authorize="hasAuthority('SalesRepresentative')" >
                <a th:href="@{'/edit_customer/'+${customers.customer_id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete_customer/'+${customers.customer_id}}">Delete</a>
            </td>
        </tr>
    </table>

<!--     <div class="p-2">-->
<!--         <a class="h2" th:href="@{/newUserSR}">Add new sales representative:</a>-->
<!--     </div>-->
    <h2>Sales Representatives</h2>
    <a sec:authorize="hasAuthority('Admin')" href="newUserSR">Add new sales representative</a>
    <table border ="1">
        <thead>
        <tr>
            <th>Sales Representative ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Password</th>
<!--            <th>Role</th>-->
            <th sec:authorize="hasAuthority('Admin')" >Actions</th>
        </tr>
        </thead>
        <tr th:each="users: ${listUsers}">
            <td th:text="${users.id}"> User ID:</td>
            <td th:text="${users.name}">Name:</td>
            <td th:text="${users.surname}">Surname</td>
            <td th:text="${users.username}">Username</td>
            <td th:text="${users.password}">Password</td>
<!--            <td th:text="${users.roles}">Roles</td>"-->
<!--           <td th:text="${users.roles}">Roles</td>-->
            <td sec:authorize="hasAuthority('Admin')" >
                <a th:href="@{'/editUserSR/'+${users.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/deleteUserSR/'+${users.id}}">Delete</a>
            </td>
        </tr>
    </table>

    <h2>Sales</h2>
    <a sec:authorize="hasAuthority('SalesRepresentative')" href="newSale">Add new Sale</a>
    

</div>
</body>
</html>
