<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New UserSR</title>
</head>
<body>
<div align="center">
    <h1>Add new Sales Representative</h1>
    <br/>
    <form action="#" th:action="@{/saveUserSR}" th:object="${user}", method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" required minlength="2" maxlength="20"/></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input type="text"th:field="*{surname}"required minlength="2" maxlength="20"/></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="*{username}"required/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password"th:field="*{password}"required minlength="6" maxlength="10"/></td>
            </tr>

<!--            <select th:field="*{id}">-->
<!--                <option value="#" disabled = "disabled" selected="selected">Role...</option>-->
<!--               <option th:each="r : ${user.getRoles()}" th:value="${user.getRoles()}" th:text="${r.roles_id}">2</option>-->
<!--            </select>-->
<!--            <tr>-->
<!--                <td>Role:</td>-->
<!--            <td><input type="text"th:field="*{roles}" readonly></td>&ndash;&gt;&ndash;&gt;-->
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
