<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Sales</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <div sec:authorize="hasAuthority('Admin')">
        <h1>Sales List</h1>
    </div>

    <div>&nbsp;</div>
    <div>
        <form th:action="@{/sales}">
            Sales representative:<input type="text" name="keyword" th:value="${keyword}" required/>
            &nbsp;
            <input type="submit" value="Search"/>
            &nbsp;
            <input type="button" value="Clear" onclick="clearFilter()"/>
        </form>
    </div>
    <div>&nbsp</div>

    <bod class="table table-bordered">
<table border ="1" class="table table-striped table-responsive-md ui-widget">
    <thead>
    <tr>
        <th>Sale ID</th>
        <th>Sales Representative:</th>
        <th>Date:</th>
        <th>Quantity:</th>
        <th>Client:</th>
        <th>Product:</th>
        <th>Price(1 item):</th>
    </tr>
    </thead>
    <tr th:each="sales: ${listSales}">
        <td th:text="${sales.sale_id}">Sale ID</td>
        <td th:text="${sales.salesRepresentative}">Sales Representative:</td>
        <td th:text="${sales.dateSold}">Date:</td>
        <td th:text="${sales.quantity_sold}">Quantity:</td>
        <td th:text="${sales.buyer.first_name}+${sales.buyer.last_name}">Client:</td>
        <td th:text="${sales.product.product_name}">Product:</td>
        <td th:text="${sales.product.price}">Price:</td>
    </tr>
</table>
        <script type="text/javascript">
            function clearFilter(){
                window.location='/sales';
            }
        </script>
</body>
</html>
